.cube__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 620px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -205px auto;
}

.cube {
  box-sizing: border-box;
  font: 16px 'Avenir Next', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  line-height: 0.96;
  width: 205px;
  height: 205px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.cube_blue { background: #06b3db; }

.cube_green { background: #4ed486; }

.cube_indigo { background: #6139f6; }

.cube_orange { background: #e3b63d; }

.cube_red { background: #dc3d66; }

.cube_purple { background: #bd54cd; }

.cube__row-1 {
  padding-bottom: 45px;
}

.cube__row-2 {
  padding-bottom: 38px;
}

.cube__icon {
  background: url("assets/weather_icons.png") no-repeat;
  background-size: auto 108px;
  background-position-y: -8px;
  margin-bottom: 27px;
}

.item__icon {
  background: url("assets/weather_icons.png");
  background-size: auto 28px;
  width: 25px;
  height: 22px;
  background-position-y: -1px;
  margin: 10px 0;
}

.cube__icon_big-cr {
  width: 98px;
  height: 79px;
}

.cube__icon_little-cr {
  width: 27px;
}

.cube__icon_big-fog {
  width: 91px;
  height: 79px;
}

.cube__icon_big-cs {
  width: 88px;
  height: 79px;
}

.cube__icon_big-css {
  width: 91px;
  height: 92px;
}

.cube__icon_big-cwm {
  width: 69px;
  height: 65px;
}

.cube__icon_big-cloud {
  width: 92px;
  height: 77px;
}

.cube__text {
  text-transform: uppercase;
  line-height: .72;
}

.cube__dopInfo {
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 21px 26px 16px 25px;
  font-size: 12px;
  line-height: .96;
  display: flex;
  justify-content: space-between;
  background: #bd3559;
}

.cube__item {
  text-align: center;
}

.cube__icon_cwm {
  background-position-x: 2%;
}

.cube__icon_fog {
  background-position-x: 17%;
}

.cube__icon_css {
  background-position-x: 36%;
}

.cube__icon_cs {
  background-position-x: 56.6%;
}

.cube__icon_cloud {
  background-position-x: 78%;
}

.cube__icon_cr {
  background-position-x: 99%;
}

.cube__icon_hover {
  flex-grow: 1;
  margin: 20px 0 0;
}